@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&display=swap");

@import "tailwindcss";

@theme inline {
  --breakpoint-xs: 22rem;
  --color-site-primary: var(--site-primary);
  --color-site-primary-hover: var(--site-primary-hover);
  --color-site-primary-text: var(--site-primary-text);
  --color-site-secondary: var(--color-stone-900);
  --color-site-secondary-hover: var(--color-stone-800);
  --color-site-secondary-text: var(--color-stone-50);
  --color-site-accent: var(--color-slate-800);
  --color-site-accent-text: var(--color-slate-50);
  --color-site-header: oklch(0.268 0.006 34.298 / 0.67);
  --color-site-header-hover: oklch(0.268 0.006 34.298 / 0.87);
  --color-site-header-text: var(--color-stone-50);
  --font-primary: "inter", Arial, sans-serif;
  --font-widget-primary: var(--font-widget-reservation);

  --size-header: 64px;
  --container-padding: 48px;
  --container-padding-sm: 12px;
  --app-height-with-header: calc(var(--app-height) - var(--size-header));
  --background-hero: url("https://media.istockphoto.com/id/669911398/ru/%D1%84%D0%BE%D1%82%D0%BE/%D0%BC%D1%83%D0%B6%D1%87%D0%B8%D0%BD%D0%B0-%D0%B4%D0%B5%D0%BB%D0%B0%D0%B5%D1%82-%D0%B8%D0%B7%D0%BE%D0%B1%D1%80%D0%B0%D0%B6%D0%B5%D0%BD%D0%B8%D0%B5-%D0%BD%D0%B0-%D1%80%D1%83%D0%BA%D0%B5.jpg?s=2048x2048&w=is&k=20&c=jw8d-mze1_0qHtjMR80YRqfmdUjiJfUMXWak7EZY2Vo=");
  --local-background: url("../assets/course-card-bg.png");
  /*
  * shadcn
  */
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-time-block: var(--widget-primary);
  --color-time-block-selected: var(--widget-primary-selected);
  --color-widget-button-primary: var(--widget-primary);
  --color-widget-button-primary-color: var(--widget-primary-color);
  --color-widget-button-primary-hovered: var(--widget-primary-selected);
}

:root {
  --default-safari-offset: 100px;
  --site-primary: var(--color-orange-500);
  --site-primary-hover: var(--color-orange-600);
  --site-primary-text: var(--color-stone-50);
  --widget-primary: var(--color-purple-600);
  --widget-primary-color: var(--color-purple-50);
  --widget-primary-selected: var(--color-purple-800);
  /*--widget-primary-disabled: rgba(var(--color-gray-300), 0.5);*/
  --widget-secondary: rgba(255, 255, 255, 0.2);
  --widget-secondary-color: var(--color-purple-50);
  --widget-secondary-selected: var(--widget-primary);
  /*--widget-secondary-disabled: var(--widget-primary-disabled);*/

  --font-widget-reservation: "Nunito", sans-serif;
  --vh: 100vh;
  --app-height: calc(var(--vh) * 100);
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.147 0.004 49.25);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.147 0.004 49.25);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.147 0.004 49.25);
  --primary: oklch(0.876 0 89.876);
  --primary-foreground: oklch(0.281 0 89.876);
  --secondary: oklch(0.97 0.001 106.424);
  --secondary-foreground: oklch(0.216 0.006 56.043);
  --muted: oklch(0.268 0.006 34.298 / 0.77);
  --muted-foreground: oklch(0.967 0 89.876);
  --accent: oklch(0.97 0.001 106.424);
  --accent-foreground: oklch(0.216 0.006 56.043);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.923 0.003 48.717);
  --input: oklch(0.923 0.003 48.717);
  --ring: oklch(0.709 0.01 56.259);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0.001 106.423);
  --sidebar-foreground: oklch(0.147 0.004 49.25);
  --sidebar-primary: oklch(0.216 0.006 56.043);
  --sidebar-primary-foreground: oklch(0.985 0.001 106.423);
  --sidebar-accent: oklch(0.97 0.001 106.424);
  --sidebar-accent-foreground: oklch(0.216 0.006 56.043);
  --sidebar-border: oklch(0.923 0.003 48.717);
  --sidebar-ring: oklch(0.709 0.01 56.259);
}

.dark {
  --background: oklch(0.147 0.004 49.25);
  --foreground: oklch(0.985 0.001 106.423);
  --card: oklch(0.216 0.006 56.043);
  --card-foreground: oklch(0.985 0.001 106.423);
  --popover: oklch(0.216 0.006 56.043);
  --popover-foreground: oklch(0.985 0.001 106.423);
  --primary: oklch(0.301 0 89.876);
  --primary-foreground: oklch(0.923 0.003 48.717);
  --secondary: oklch(0.904 0 89.876);
  --secondary-foreground: oklch(0.226 0 89.876);
  --muted: oklch(0.268 0.007 34.298 / 0.77);
  --muted-foreground: oklch(0.46 0 0);
  --accent: oklch(0.268 0.007 34.298);
  --accent-foreground: oklch(0.985 0.001 106.423);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.553 0.013 58.071);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.268 0.007 34.298);
  --sidebar-foreground: oklch(0.985 0.001 106.423);
  --sidebar-primary: oklch(0.23 0 0);
  --sidebar-primary-foreground: oklch(0.985 0.001 106.423);
  --sidebar-accent: oklch(0.268 0.007 34.298);
  --sidebar-accent-foreground: oklch(0.985 0.001 106.423);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.553 0.013 58.071);
}

.desktop {
  --size-header: 120px;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  html,
  body {
    scroll-behavior: smooth;
  }
  body {
    font-family: var(--font-primary);
    @apply bg-background text-foreground;
  }
  /* Глобальные стили */
  section {
    scroll-margin-top: var(--size-header) !important;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  .rdp {
    border: none !important;
    padding: 0 !important;
  }
}

@layer components {
  .desktop-link {
    @apply text-sm text-sidebar-primary-foreground font-semibold cursor-pointer hover:text-chart-5 transition;
  }

  .logo-img {
    object-fit: contain;
  }

  .background-before {
    position: relative;
  }

  .background-before::before {
    content: "";
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    @apply pointer-fine:bg-fixed;
    background-image: var(--local-background);
    pointer-events: none;
  }

  .screenHeight {
    height: var(--app-height);
  }

  .reviewCard {
    --left: 22%;
    --top: 41%;
    --left-translate: calc(-1 * var(--left) / 2);
    --top-translate: calc(-1 * var(--top) / 2);

    position: relative;
    .reviewCardHeader {
      position: absolute;
      left: calc(var(--left));
      top: calc(var(--top) / 2);
    }

    .reviewCardBody {
      transform: translateX(var(--left-translate))
        translateY(var(--top-translate)) rotateZ(1deg) skewY(-1deg);
      position: absolute;
      left: var(--left);
      top: var(--top);

      width: 65%;
      height: 57%;
      overflow: auto;
    }
  }
}

@layer utilities {
  .container-max-width {
    @apply max-w-[1280px] m-auto w-full;
  }

  .background-container {
    background-size: cover;
    background-position: center;
    background-image: var(--local-background);
  }
  .top-sticky {
    position: sticky;
    top: var(--size-header);
  }
  .p-header {
    padding-top: var(--size-header);
  }
  .h-full-with-header {
    height: calc(100% - var(--size-header));
  }
}
